/* Định nghĩa biến màu sắc */
:root{
    --baseColor:#f5f5f5; /* Màu nền cơ bản */
    --backgroundColor:#fff; /* Màu nền cho các phần nội dung */
    --fontColor:#1f1f1f; /* Màu chữ chính */
    --lineColor: #818181; /* Màu của đường kẻ */
    --greyColor:#e5e5e5; /* Màu xám cho các yếu tố phụ */
}
/* Định nghĩa kiểu dáng chung cho toàn bộ trang */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Nunito", sans-serif;
}

body{
    background-color: var(--baseColor);
    width: 100%;
    height: auto;
    color: var(--fontColor);
}
/* Định dạng tiêu đề h3 */
h3{
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 2;
    font-size: 18px;
}

/* Định dạng tiêu đề h4 */
h4{
    font-size: 16px;
}

p{
    font-size: 14px;
}
/* Định dạng phần CV chính */
.resume{
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-image: url(background.jpg); /* Đặt đường dẫn đến hình ảnh của bạn */
    background-size: cover; /* Đảm bảo hình ảnh nền tự động điều chỉnh kích thước */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh nền */

}

/* Định dạng phần header */
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Định dạng ảnh header */
.header-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

/* Thêm hiệu ứng zoom khi di chuột vào */
.hover-zoom:hover {
    transform: scale(1.1); /* Tăng kích thước ảnh lên 110% */
    transition: transform 0.3s ease; /* Hiệu ứng chuyển đổi trong 0.3 giây với độ mượt */
  }
/* Định dạng tên */
.header-name{
    letter-spacing: 2;
    text-transform: uppercase;
    padding-top: 0.5rem;
    text-align: center;
    position: relative;
}
/* Định dạng công việc */
.header-job{
    letter-spacing: 1;
    padding-bottom: 0.5rem;
}
/* Định dạng thông tin liên hệ */
.header-contact{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 0.5rem 0;
    font-size: 14px;
}
/* Định dạng đường kẻ chia đoạn */
.divider{
    margin: 1rem 2rem;
    width: 90%;
    border: 1px solid var(--lineColor);
}
/* Định dạng phần thân CV */
.body-resume{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/* Định dạng phần bên trái CV */
.left-resume{
    padding: 0 1rem;
    text-align: right;
    border-right: 2px solid var(--lineColor);
}
/* Định dạng thẻ card */
.card-resume{
    padding: 0.5rem 1rem;
}
/* Định dạng chi tiết */
.detail{
    padding: 0.5rem 0;

}
/* Định dạng chi tiết phụ */
.subdetail{
    padding: 0.5rem 0;
}
/* Định dạng phần kỹ năng */
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    align-items: center;
}
/* Định dạng thanh kỹ năng */
.skills-bar{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: var(--greyColor);
    position: relative;
}
/* Định dạng thanh điểm kỹ năng */
.skills-fill{
    height: 10px;
    background: var(--lineColor);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
/* Định dạng điểm kỹ năng 1 */
.skill1{
    width: 70%;
}
/* Định dạng điểm kỹ năng 2 */
.skill2{
    width: 80%;
}
/* Định dạng điểm kỹ năng 3 */
.skill3{
    width: 50%;
}
/* Định dạng điểm kỹ năng 4 */
.skill4{
    width: 100%;
}
/* Định dạng điểm kỹ năng 5 */
.skill5{
    width: 30%;
}
/* Định dạng phần bên phải CV */
.right-resume{
    padding: 0 1rem;
    text-align: left;
}

/* Định dạng phần tham chiếu */
.references{
    display: flex;
    justify-content: space-between;
}

/* Định dạng phần giải thưởng */
.awards{
    display: flex;
    justify-content: space-between;
}
/* Định dạng phần sở thích */
.hobbies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Định dạng hình ảnh sở thích */
.hobbies img{
    width: 50px;
    height: 50px;
    margin: 5px 0;
    padding: 5px;
    object-fit: contain;
    border: 1px solid var(--greyColor);
    border-radius: 10px;
}
